.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 306px;
  height: 100vh;
  padding: 36px 28px 72px 28px;
  background-color: $primary-white-color;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq(tablet-max) {
    transform: translateX(-100%);
    transition: $transition-duration $transition-animation;
    transition-property: transform, filter;
  }
}

.sidemenu__title-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 64px;
}

.sidemenu__icon {
  width: 37px;
  height: 37px;
}

.title__flex-wrap {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.sidemenu__title {
  font-weight: 600;
  font-size: 26px;
}

.sidemenu__ver {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: $additional-text-color;
}

.navbar {
}

.navbar__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.navbar__item {
  padding: 11px;
}

.navbar__item--active {
  padding: 11px;
  background-color: $accent-background-color;
  border-radius: 8px;
}

.navbar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__name-flexwrap {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navbar__icon {
  display: block;
  width: 24px;
  height: 24px;
}

.navbar__name {
  font-weight: 500;
  color: #9197b3;
}

.navbar__name--active {
  font-weight: 500;
  color: $primary-white-color;
}

.navbar__arrow-icon {
  width: 16px;
  height: 16px;
}
