.customers {
  padding: 30px 40px 40px 38px;
  border-radius: 30px;
  background-color: $primary-white-color;
  box-shadow: 0 10px 60px 0 $primary-shadow-color;
}

.customers__head {
  display: flex;
  justify-content: space-between;
}

.customers__title-wrap {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.customers__title {
  font-weight: 600;
  font-size: 22px;
}

.customers__subtitle {
  color: $accent-text-color;
}

.customers__searchbar-wrap {
  position: relative;
}

.customers__searchbar {
  width: 216px;
  height: 38px;
  padding: 10px 10px 10px 40px;
  border: none;
  border-radius: 10px;
  background-color: $muted-background-color;
}

.customers__searchbar::placeholder {
  font-size: 12px;
  color: $muted-text-color;
}

.customers__searchbar-icon {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 24px;
  height: 24px;
}
