$primary-black-сolor: #000;
$primary-white-color: #ffffff;

$primary-text-color: #292d32;
$muted-text-color: #b5b7c0;
$nav-text-color: #9197b3;
$additional-text-color: #838383;
$accent-text-color: #16c098;

$muted-background-color: #f9fbff;

$primary-background-color: #fafbff;
$accent-background-color: #5932ea;
$active-background-color: rgba(22, 192, 152, 0.38);
$unactive-background-color: #ffc5c5;

$primary-shadow-color: rgba(226, 236, 249, 0.5);

$font-stack: "Poppins", sans-serif;
$font-size: 14px;
$letter-spacing: -0.01em;
$letter-spacing-secondary: 0.01em;
